<welcome ng-show="uname" uname="{{ uname }}"></welcome>
<frm-status-msg ng-show="displayFrmStatus"></frm-status-msg>
<!--<nav-bar></nav-bar>-->
<div class="container">
	<form>
	  <fieldset class="form-group well form-fieldset">
	  	<legend class="form-legend">Visitor Information</legend>
	  	<div class="row">
	  		<div class="col-md-6">
		  		<label for="fName">First Name</label>
		    	<input type="text" class="form-control txt-first-form" id="fName" readonly="true" ng-model="viewApp.FirstName">
	  		</div>
			<div class="col-md-6">
			    <label for="lName">Last Name</label>
			    <input type="text" class="form-control txt-first-form" id="lName" readonly="true" ng-model="viewApp.LastName">
			</div>
			<div class="col-md-6">
			    <label for="mInitial">Middle Initial</label>
			    <input type="text" class="form-control txt-first-form" id="mInitial" readonly="true" ng-model="viewApp.MiddleInitial">
			</div>
			<div class="col-md-6">
			    <label for="requestDate">Date of Request</label>
			    <input type="text" class="form-control txt-first-form" id="requestDate" readonly="true" ng-model="viewApp.RequestDate">
			</div>
			<div class="col-md-6">
			    <label for="title">Title</label>
			    <input type="text" class="form-control txt-first-form" id="title" readonly="true" ng-model="viewApp.Title">
			</div>
			<div class="col-md-6">
			    <label for="occupation">Occupation</label>
			    <input type="text" class="form-control txt-first-form" id="occupation" readonly="true" ng-model="viewApp.Occupation">
			</div>
	  	</div>
	  </fieldset>
	  <fieldset class="form-group well form-fieldset">
	  	<legend class="form-legend">Trip Information</legend>
	  	<div class="row">
			<fieldset class="fieldset-group">
		  		<div class="col-md-12">
		  			<label for="txtPurposeOfTrip">Purpose of Trip</label>
				    <textarea class="form-control" rows="2" id="txtPurposeOfTrip" readonly="true" ng-model="viewApp.Purpose"></textarea>
				</div>
			</fieldset>
	  	</div>
	  	<div class="row" ng-repeat="visitor in getVisitors() track by $index">
	  		<fieldset class="fieldset-group">
		  		<visitor-fill-row visitor="{{ visitor }}"></visitor-fill-row>
	  		</fieldset>
	  	</div>		
	  	<div class="row">
	  		<fieldset class="fieldset-group">
		  		<div class="col-md-3">
		  			<label>Will this trip be paid for by St. Boniface?</label>
				</div>
				<div class="col-md-3">
					<label>
				      <input type="radio" name="radioPaidFor" id="radioPaidFor" ng-model="viewApp.PaidFor"
				             ng-value="true" ng-disabled="true" ng-checked="{{ viewApp.PaidFor }}">
				      Yes
				    </label>
				    <label>
				      <input type="radio" name="radioPaidFor" id="radioPaidFor" ng-model="viewApp.PaidFor"
				             ng-value="false" ng-disabled="true" ng-checked="{{ !viewApp.PaidFor }}">
				      No
				    </label>
				</div>
				<div class="col-md-3">
					<label>Check if first time visitor to St. Boniface</label>
				</div>
				<div class="col-md-3">
					<label>
				      <input type="radio" name="radioFirstTimeVisit" class="app-radio" id="radioFirstTimeVisit" 
				      		 ng-model="viewApp.FirstTime" ng-value="true" ng-checked="{{ viewApp.FirstTime }}" ng-disabled="true">
				      Yes
				    </label>
				    <label>
				      <input type="radio" name="radioFirstTimeVisit" class="app-radio" id="radioFirstTimeVisit" 
				      		 ng-model="viewApp.FirstTime" ng-value="false" ng-checked="{{ !viewApp.FirstTime }}" ng-disabled="true">
				      No
				    </label>
				</div>
			</fieldset>
	  	</div>
	  	<div class="row">
	  		<fieldset class="fieldset-group">
		  		<div class="col-md-3">
			  		<label for="sName">Sponsor Name</label>
			    	<input type="text" class="form-control txt-first-form" id="sName" ng-value="Sponsor" 
			    		    ng-model="viewApp.Sponsor" readonly="true">
		  		</div>
				<div class="col-md-3">
				    <label for="sRelationship">Sponsor Relationship</label>
				    <input type="text" class="form-control txt-first-form" id="sRelationship" 
				            ng-model="viewApp.SponsorRelationship" readonly="true">
				</div>
				<div class="col-md-4">
					<div>
			  			<label>Sponsor will accompany visitor or sponsor already in Haiti</label>
					</div>
				</div>
				<div class="col-md-2">
					<div>
						<label>
					      <input type="radio" name="sInHaiti" class="app-radio" id="sInHaiti" ng-model="viewApp.SponsorInHaiti" 
					      		 ng-value="true" ng-checked="{{ viewApp.SponsorInHaiti }}" ng-disabled="true">
					      Yes
					    </label>
					    <label>
					      <input type="radio" name="sInHaiti" class="app-radio" id="sInHaiti" ng-model="viewApp.SponsorInHaiti" 
					      		 ng-value="false" ng-checked="{{ !viewApp.SponsorInHaiti }}" ng-disabled="true">
					      No
					    </label>
					</div>
				</div>
			</fieldset>
	  	</div>
	  	<div class="row">
	  		<fieldset class="fieldset-group">
				<div class="col-md-4">
				    <label for="sCell">Sponsor Cellphone</label>
				    <input type="text" class="form-control txt-first-form" id="sCell" 
				    	   ng-model="viewApp.CellPhone" readonly="true">
				</div>
				<div class="col-md-4">
		  			<label>Is this trip being requested by a St. Boniface staff member or unsolicited?</label>
				</div>
				<div class="col-md-4">
					<label>
				      <input type="radio" name="radioRequested" class="app-radio" id="radioRequested" ng-model="viewApp.Requested" 
				             ng-value="true" ng-checked="{{ viewApp.Requested }}" ng-disabled="true">
				      Staff Request
				    </label>
				    <label>
				      <input type="radio" name="radioRequested" class="app-radio" id="radioRequested" ng-model="viewApp.Requested" 
				       		 ng-value="false" ng-checked="{{ !viewApp.Requested }}" ng-disabled="true">
				      Unsolicited
				    </label>
				</div>
			</fieldset>
		</div>
		<div class="row">
		  	<fieldset class="fieldset-group">
		  		<div class="col-md-2">
		  			<label>Air transportation needs</label>
				</div>
				<div class="col-md-4">
					<label>
				      <input type="radio" name="radioAirTransport" class="app-radio" id="radioAirTransport" 
				      		 ng-model="viewApp.AirTransport" value="rt" ng-checked="{{ viewApp.AirTransport === 'rt' }}" ng-disabled="true">
				      Round Trip
				    </label>
				    <label>
				      <input type="radio" name="radioAirTransport" class="app-radio" id="radioAirTransport" 
				      		 ng-model="viewApp.AirTransport" value="tsb" ng-checked="{{ viewApp.AirTransport === 'tsb' }}" ng-disabled="true">
				      To St. B Only
				    </label>
				    <label>
				      <input type="radio" name="radioAirTransport" class="app-radio" id="radioAirTransport" ng-model="viewApp.AirTransport" 
				      		 value="fsb" ng-checked="{{ viewApp.AirTransport === 'fsb' }}" ng-disabled="true">
				      From St. B Only
				    </label>
				    <label>
				      <input type="radio" name="radioAirTransport" class="app-radio" id="radioAirTransport" ng-model="viewApp.AirTransport" 
				      		 ng-checked="{{ viewApp.AirTransport === 'nr' }}" ng-disabled="true" value="nr">
				      Not Required
				    </label>
				</div>
		  		<div class="col-md-2">
		  			<label>Special Routing Information</label>
				</div>
				<div class="col-md-4">
					<textarea class="txt-info" ng-model="viewApp.SpecialRoutingInfo" readonly="true"></textarea>
				</div>
			</fieldset>
	  	</div>
	  	<div class="row">
	  		<fieldset class="fieldset-group">
		  		<div class="col-md-4">
		  			<label>Estimated Expenses (to be completed if St. Boniface is paying the cost)</label>
				</div>
				<div class="col-md-2">
					<label for="costAirfare">Airfare</label>
			    	<input type="text" class="form-control txt-first-form" id="costAirfare"
			    	       name="costAirfare" value="{{ makeCurrency(viewApp.AirfareExpense) }}" readonly="true">
		    	</div>
		    	<div class="col-md-2">
			    	<label for="gTransport">Ground Transportation</label>
			    	<input type="text" class="form-control txt-first-form-long-label" value="{{ makeCurrency(viewApp.GroundExpense) }}" id="gTransport"
			    	       readonly="true">
		    	</div>
		    	<div class="col-md-2">
			    	<label for="medVac">Medical Evacuation Insurance</label>
			    	<input type="text" class="form-control txt-first-form-long-label" value="{{ makeCurrency(viewApp.EvacExpense) }}" id="medVac" readonly="true">
		    	</div>
		    	<div class="col-md-2">
			    	<label for="other">Other</label>
			    	<input type="text" class="form-control txt-first-form" id="other" readonly="true" value="{{ makeCurrency(viewApp.OtherExpense) }}">
				</div>
			</fieldset>
	  	</div>
	  	<div class="row">
		  	<fieldset class="fieldset-group">
		  		<div class="col-md-4">
		  			<label>Are There Fees to be Collected</label>
				</div>
				<div class="col-md-2">
			    	<input type="text" class="form-control txt-first-form" id="txtFees" readonly="true" value="{{ makeCurrency(viewApp.Fees) }}">
		    	</div>
		    	<div class="col-md-3">
			  			<label>Kreyol or French Speaking (individual or team member)?</label>
				</div>
				<div class="col-md-3">
					<label>
				      <input type="radio" name="radioFrench" class="app-radio" id="radioFrench" 
				             ng-model="viewApp.FrenchSpeaking" ng-value="true" ng-checked="{{ viewApp.FrenchSpeaking }}" ng-disabled="true">
				      Yes
				    </label>
				    <label>
				      <input type="radio" name="radioFrench" class="app-radio" id="radioFrench" 
				             ng-model="viewApp.FrenchSpeaking" ng-value="false" ng-checked="{{ !viewApp.FrenchSpeaking }}" ng-disabled="true">
				      No
				    </label>
				</div>
	    	</fieldset>
	  	</div>
	  	<div class="row">
	  		<fieldset class="fieldset-group">
		  		<div class="col-md-3">
		  			<label>Visitor Will Stay at the Residence?</label>
				</div>
				<div class="col-md-3">
					<label>
				      <input type="radio" name="radioStayResidence" class="app-radio" id="radioStayResidence" 
				      	     ng-model="viewApp.VisitorWillStay" ng-value="true" ng-checked="{{ viewApp.VisitorWillStay }}" ng-disabled="true">
				      Yes
				    </label>
				    <label>
				      <input type="radio" name="radioStayResidence" class="app-radio" id="radioStayResidence" 
				      		 ng-model="viewApp.VisitorWillStay" ng-value="false" ng-checked="{{ !viewApp.VisitorWillStay }}" ng-disabled="true">
				      No
				    </label>
				</div>
		  		<div class="col-md-3">
		  			<label>Flights to be Booked by Newton Office?</label>
				</div>
				<div class="col-md-3">
					<label>
				      <input type="radio" name="radioBookedNewton" class="app-radio" id="radioBookedNewton" 
				      		 ng-model="viewApp.BookedByNewton" ng-value="true" ng-checked="{{ viewApp.BookedByNewton }}" ng-disabled="true">
				      Yes
				    </label>
				    <label>
				      <input type="radio" name="radioBookedNewton" class="app-radio" id="radioBookedNewton" 
				      		 ng-model="viewApp.BookedByNewton" ng-value="false" ng-checked="{{ !viewApp.BookedByNewton }}" ng-disabled="true">
				      No
				    </label>
				</div>
			</fieldset>
	  	</div>
	  	<fieldset class="form-group well form-fieldset">
		  	<legend class="form-legend">Accounting Information</legend>
		  	<div class="row">
			  	<fieldset class="fieldset-group">
					<div class="col-md-3">
			  			<label for="txtDirect">Program (direct expenses)</label>
				    	<input type="text" class="form-control txt-first-form" id="txtDirect" readonly="true" value="{{ makeCurrency(viewApp.DirectExpense) }}">
			    	</div>
					<div class="col-md-3">
						<label for="txtReimb">Program (reimbursable expenses)</label>
				    	<input type="text" class="form-control txt-first-form" id="txtReimb" readonly="true" value="{{ makeCurrency(viewApp.ReimbursableExpense) }}">
			    	</div>
			    	<div class="col-md-1">
			  			<label>Type of Visit</label>
					</div>
			    	<div class="col-md-5">
						<label>
					      <input type="radio" name="radioVisitType" class="app-radio" id="radioVisitType" 
					             ng-model="viewApp.TypeOfVisit" value="donor" ng-checked="{{ viewApp.TypeOfVisit === 'donor' }}" ng-disabled="true">
					      Donor/VIP Visit
					    </label>
					    <label>
					      <input type="radio" name="radioVisitType" class="app-radio" id="radioVisitType" 
					             ng-model="viewApp.TypeOfVisit" value="volunteer" ng-checked="{{ viewApp.TypeOfVisit === 'volunteer' }}" ng-disabled="true">
					      Working Volunteer
					    </label>
					    <label>
					      <input type="radio" name="radioVisitType" class="app-radio" id="radioVisitType" 
					             ng-model="viewApp.TypeOfVisit" value="paidTime" ng-checked="{{ viewApp.TypeOfVisit === 'paidTime' }}" ng-disabled="true">
					      Part Time Paid Visit
					    </label>
					    <label>
					      <input type="radio" name="radioVisitType" class="app-radio" id="radioVisitType" 
					      ng-model="viewApp.TypeOfVisit" value="family" ng-checked="{{ viewApp.TypeOfVisit === 'family' }}" ng-disabled="true">
					      Staff Family or Friend
					    </label>
					    <label>
					      <input type="radio" name="radioVisitType" class="app-radio" id="radioVisitType" 
					      ng-model="viewApp.TypeOfVisit" value="other" ng-checked="{{ viewApp.TypeOfVisit === 'other' }}" ng-disabled="true">
					      Other
					    </label>
					</div>
		    	</fieldset>
		  	</div>
	    </fieldset>
		<dashboard-button affirm-button-txt="{{ affirmButtonTxt }}" deny-button-txt="{{ denyButtonTxt }}" 
		                  display-affirm-button="displayAffirmButton" display-deny-button="displayDenyButton" affirm-func="affirmFunc()" 
		                  deny-func="denyFunc()" status="{{ status }}" app-id="{{ appId }}" is-admin="isAdmin">
		</dashboard-button>
	</form>
</div>