/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.application-sign-in {
  margin: 0 auto;
  width: 25%;
}

.form-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.form-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.txt-first-form {
  margin-top: 20px;
}

.btn-add-visitor {
  float: right;
  margin-right: 14px;
}

.btn-row {
  margin-top: 10px;
}

.application-panel {
  width: 50%;
  margin-left: 20%;
}

#welcome-header {
  text-align: center;
}

.btn-dash {
  float: right;
  margin-left: 10px;
}