<!--<nav-bar></nav-bar>-->
<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#/Dashboard/Submitted">Submitted</a></li>
    <li role="presentation"><a href="#/Dashboard/Approved">Approved</a></li>
    <li role="presentation"><a href="#/Dashboard/Completed">Completed</a></li>
    <li role="presentation"><a href="#/Dashboard/Finalized">Finalized</a></li>
    <li role="presentation"><a href="#/Dashboard/Rejected">Rejected</a></li>
  </ul>
</div>	

<div class="panel panel-default application-panel">
  <!-- Default panel contents -->
  <div class="panel-heading" ng-bind="heading"></div>
  <div class="panel-body">
    <p ng-bind="description"></p>
  </div>
  <!-- Table -->
  <table class="table">
  	<tr>
  		<th>First Name</th>
  		<th>Last Name</th>
  		<th>Request Date</th>
  		<th></th>
  	</tr>
  	<tr ng-repeat="app in applications">
  		<td ng-bind="app.FirstName"></td>
  		<td ng-bind="app.LastName"></td>
  		<td ng-bind="app.RequestDate"></td>
  		<td><button class="btn btn-primary" ng-click="goToApplication(app._id)">View</button></td>
  	</tr>
  </table>
</div>
