<div>
	<div class="col-md-3">
		<label for="groupMembers">Visitor and Members of Group (if applicable)</label>
	    <input type="text" class="form-control" id="{{ 'groupMembers' + $index }}" placeholder="Name">
	</div>
	<div class="col-md-3">
		<label for="arrivalDateTime">Arrival Date and Time</label>
	    <input type="text" class="form-control txt-first-form arrivalDateAndTime" placeholder="Arrival Date and Time">
	</div>
	<div class="col-md-3">
		<label for="departureDateAndTime">Departure Date and Time</label>
	    <input type="text" class="form-control txt-first-form departureDateAndTime" placeholder="Departure Date and Time">
	</div>
	<div class="col-md-3">
		<label class="radio control-label">Gender</label>
	    <label>
	      <input type="radio" name="{{ 'radioGender' + $index }}" id="{{ 'radioGender' + $index }}" value="M">
	      Male
	    </label>
	    <label>
	      <input type="radio" name="{{ 'radioGender' + $index }}" id="{{ 'radioGender' + $index }}" value="F" checked>
	      Female
	    </label>
	</div>
</div>